[Unit]
Description=Flute service
After=network.target

[Service]
Type=forking
PIDFile=/tmp/flute.pid
User={{ flute_user }}
Environment=USER={{ flute_user }}
TimeoutSec=5min
StartLimitBurst=0
StandardOutput=journal
RemainAfterExit=yes
ExecStart=/usr/bin/jsvc -home {{ java_home }} -user {{ flute_user }} -cp /usr/share/java/commons-daemon.jar:{{ flute_dir }}/flute.jar -pidfile /tmp/flute.pid -procname flute -outfile {{ flute_log_dir }}/std.out -errfile {{ flute_log_dir }}/std.err -Xmx{{ flute_java_memory }} ru.curs.flute.Main start
ExecStop=/usr/bin/jsvc -home {{ java_home }} -cp /usr/share/java/commons-daemon.jar:{{ flute_dir }}/flute.jar -pidfile /tmp/flute.pid -procname flute -outfile {{ flute_log_dir }}/std.out -errfile {{ flute_log_dir }}/std.err -Xmx{{ flute_java_memory }} ru.curs.flute.Main stop

[Install]
WantedBy=multi-user.target

